
.swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide-active{
    display: grid!important;
    width: 100%!important;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
  }
  .image-banner{
    width: 100%!important;
    height: 100%!important;  }