.contact{
    padding:40px 0;
    &__image{
        text-align: center;
    }
    h2{
        position: relative;
    color: #151c4c;
    font-size: 30px;
    line-height: 47px;
    font-weight: 600;
    text-align: center;
    margin-bottom:60px;
    &::before{
       
            background: #151c4c;
            border: 0 none;
            content: "";
            height: 3px;
            left: 0;
            right: 0;
            margin: 0 auto;
            position: absolute;
            bottom: -15px;
            width: 60px;
            border-radius: 30px;
        
    }
    }
    &__title p{
        font-size: 20px;
        font-weight: 600;
        color: #151c4c;
        margin-bottom: 20px;
        margin-top: 20px;
        text-align: center;
    }
    &__description{
        color: #677294;
    font-size: 16px;
    line-height: 31px;
    font-weight: 400;
    text-align: center;

    }
}