.title-description-our-services {
    padding: 60px 0px;
  h2 {
    position: relative;
    margin-bottom: 18px;
    padding-bottom: 2px;
    color: #151c4c;
    font-size: 30px;
    line-height: 50px;
    font-weight: 600;
    text-align:center;
    &::before{
        background: #151c4c;
        border: 0 none;
        content: "";
        height: 3px;
        left: 0;
        right: 0;
        margin: 0 auto;
        position: absolute;
        bottom: -3px;
        width: 60px;
        border-radius: 30px;
    }
  }
  p{
      text-align: center;
      width:70%;
      margin:auto;
      color: #677294;
      font-size: 16px;
      font-weight: 400;
  }
}
