.navbar {
  background: #151c4c;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: 0.5s;
  &__logo {
    width: 200px;
  }
  &.active {
    background-color: #fff;
    transition: 0.5s;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1);
    .sub-menu{
      border-top: 2px solid #151c4c;
      &a:hover{
        color:#fff!important;
      }
    }
    .sub-menu-parent a:hover:first-child{
      transition: 0.8s;
      color:#647589;
    }
    

  }
}
.sub-menu-parent {
  position: relative;
}

.sub-menu {
  visibility: hidden; /* hides sub-menu */
  opacity: 0;
  position: absolute;
  top: 60px;
  border-top: 2px solid #fff;
  background: white;
  left: 0;
  width: 240px;
  border-radius: 3px;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.5s ease-in-out 0s, visibility 0s linear 0.5s,
    z-index 0s linear 0.01s;
    &:hover a{
      color:#fff;
    }
    a {
      color: #647589 !important;

    }
    li:hover a {
      color: white !important;
    }
    li {
      border-bottom: 1px solid #e8e8e8;
      transition: 0.8s;
    }
    li:hover {
      background-color: #151c4c;
      transition: all linear 0.5s;
      -webkit-transition: all linear 0.5s;
      color: white;
    }
}

.sub-menu-parent:focus .sub-menu,
.sub-menu-parent:focus-within .sub-menu,
.sub-menu-parent:hover .sub-menu {
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}

nav a {
  color: #647589;
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: 0.5s;
}
nav a:hover {
  color: #ffffff;
  font-weight: 500;
  transition: 0.5s;
}
nav ul,
nav ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul {
  background: #eee;
  text-align: center;
}
nav > ul > li {
  display: inline-block;
  border-left: solid 1px #aaa;
}
nav > ul > li:first-child {
  border-left: none;
}
.button-quote {
  background-color: white;
  color: #151c4c;
  border-radius: 60px;
  display: inline-flex;
  padding: 0px 0px 0px 15px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  a {
    margin-left: 12px;
    color: #151c4c;
    &:hover {
      color: #151c4c;
    }
  }
  svg {
    color: #151c4c;
  }
  &:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    color: #151c4c !important;
  }
}
.button-quote.active {
  background-color: #151c4c;
  color: #ffffff;
  border-radius: 60px;
  display: inline-flex;
  padding: 0px 0px 0px 15px;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -webkit-box-shadow: 0px 25px 60px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 25px 60px 0px rgba(0, 0, 0, 0.1);

  a {
    margin-left: 12px;
    color: #ffffff;
    &:hover {
      color: #ffffff;
    }
  }
  svg {
    color: #ffffff;
  }
  &:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    color: #ffffff !important;
  }
}
.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.nav-menu {
  display: grid;
  grid-gap: 10px;
  font-weight: 500;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;

  &__ul {
    display: flex;
  }
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .nav-menu__ul {
    display: block;
  }
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    color: white;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.8s ease-out;
  }
}
